<%= render 'layouts/header' %>
<%= stylesheet_link_tag    'gallery', media: 'all', 'data-turbolinks-track' => true %>

<div class="responsive">
	<p> Location Name </p>
	<div class="img">

<%= image_tag("image22.jpg", :alt => "Gozleme image") %>


</div>
</div>


<div class="responsive">
	<p> Location Name </p>
	<div class="img">

<%= image_tag("image22.jpg", :alt => "Gozleme image") %>
</div>
</div>


<div class="responsive">
	<p> Location Name </p>
	<div class="img">

<%= image_tag("image22.jpg", :alt => "Gozleme image") %>
</div>
</div>


<div class="responsive">
	<p> Location Name </p>
	<div class="img">

<%= image_tag("image22.jpg", :alt => "Gozleme image") %>
</div>
</div>







<%= render 'layouts/footer' %>