<%= render 'layouts/header' %>
<%= stylesheet_link_tag    'menu', media: 'all', 'data-turbolinks-track' => true %>

<h1>Family Gozleme Menu</h1>

<div class="container">

<%= image_tag("1.png", :alt => "Gozleme image") %>
<%= image_tag("2.png", :alt => "Gozleme image") %>
<%= image_tag("3.png", :alt => "Gozleme image") %>
<%= image_tag("4.png", :alt => "Gozleme image") %>
<%= image_tag("5.png", :alt => "Gozleme image") %>
<%= image_tag("6.png", :alt => "Gozleme image") %>

</div>




<%= render 'layouts/footer' %>